<p>
<strong> Plate:  </strong>
  <%= @plate.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plate.description %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @plate.producer %>
</p>

<%= render partial: 'ingredients/ingredients', locals: { ingredients: @plate.ingredients.order(created_at: :asc)} %>
