<h1>
  <%= @plate.title %>
</h1>

<p>
  <%= @plate.description %>
</p>

<span>
  <strong>producer:</strong>
  <%= @plate.producer %>
</span>

<%= render partial: 'ingredients/ingredients', locals: { ingredients: @plate.ingredients.all} %>
